body{
    padding: 0%;
    margin: 0%;
    background-color: rgb(30, 31, 34);
    color: white;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "liberation mono", "courier new", monospace;
}

.everything{
    height: 100vh;
    display: grid;
    grid-template-columns: 69px 243px  1fr 225px;
    grid-template-rows: 23px  50px  auto;
}

.bump{
    display: flex;
    align-items: center;
    background-color: rgb(30, 31, 34);
    grid-column: 1 / 5;
    color: rgba(148,155,164,255);
    padding-left: 0.7rem;
    font-size: 13px;
}

.images, .images2{
    display: grid;
    justify-content: center;
    grid-template-rows: 60px 2px 60px 60px 60px 60px 60px;
    background-color: rgb(30, 31, 34);
    grid-row: 2 / -1;
}

.images img, .images2 img{
    margin-top: 7px;
    transition: 0.15s;
}

.images img:hover, .images2 img:hover{
    border-radius: 16px;
    transition: 0.15s;
    cursor: pointer;
}

.images > img, .images2 > img{
    border-radius: 16px;
}

img:hover{
    opacity: 100%;
}

.header{
    background: linear-gradient( to right, #2b2d31 67px 243px, #313338 243px 100% );
    grid-column: 2 / 5;
    border-bottom: 1px solid rgb(30, 31, 34);
    border-radius: 7px 0px 0px 0px;
    display: grid;
    grid-template-columns:243px 1fr;
    grid-template-rows: 50px;
    align-items: center;
}

.name{
    display: flex;
    align-items: center;
    height: 50px;
    width: 243px;
}

.navmenu{
    width: auto;
    height: 50px;
    display: flex;
}
.navmenu > div:nth-child(2){
    height: 50px;
    display: flex;
    align-items: center;   
}
.navmenu > div:nth-child(1){
    height: 50px;
    display: flex;
    align-items: center;   
}
.navmenu > div:nth-child(1) > a > p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;

}

.navmenu > div:nth-child(1) > a > p > img{
    padding-left: 0.5rem;
    height: 35px;
    width: 35px;
}

.navmenu > div:nth-child(2){
    position: absolute;
    display: flex;
    align-items: center;   
    right: 0%;
    height: 50px;
    width: 385px;
}

.textchannels{
    background-color: rgb(43, 45, 49);

}
.e{
    display: grid;
    grid-template-columns: 80px  1fr;
    grid-template-rows: auto 110px;
    background-color: rgb(49, 51, 56);
    grid-column: 3 / 4;
}

.creators{
    grid-column: 4 / 5;
    background-color: rgb(43, 45, 49);
}

img{
    height: 47px;
    width: 47px;
    border-radius: 50%;
}

.line{
    display: flex;
    align-self: center;
    justify-self: center;
    height: 2px;
    width: 32px;
    background-color: rgba(53,54,60,255);
}

.line2{
    display: flex;
    justify-self: center;
    height: 1px;
    width: 32px;
    background-color: rgba(53,54,60,255);
}

.title{
    color: #7289da;
    padding-left: 1rem;
}

span{
    color: white;
}

h4 > sub{
    margin-left: 140px;
    color: rgba(203,203,206,255);
    font-size:  17px;
}

ul{
    display: grid;
    align-self: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-top: -10px;

}

li{
    list-style-type: none;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    color: gray;
    font-size: 15px;
    height: 30px;
    border-radius: 4px;
    width: 225px;
}

li:hover{
    background-color: #3C3F45;
    color: white;
    cursor: pointer;
}

li:focus{
    background-color: #42464D;
    color: white;
}

.textchannels > ul > li:nth-child(2){
    background-color: #42464D;
    color: white;
}

a{
    text-decoration: none;
}

i{
    margin-left: 13px;
    font-size: 30px;
    font-weight: lighter;
    color: gray;
}

.description{
    padding-top: 0.3rem;
    font-size: 13px;
    font-weight: 600;
    color: grey;    
}

.description > sub{
    padding-left: 0.4rem;
    padding-right: 0.3rem;
}

.guestbackground{
    background-color: #232428;
    width: 243px;
    height: 45px;
    bottom: 0px;
    position: absolute;
    display: flex;
    align-items: center;
}

.guest{
    height: 45px;
    display: flex;
    align-items: center;
}

.guest > p:nth-child(2){
    color: #f3f4f5;
    padding-left: 0.5rem;
    font-size: 14px;
    margin-bottom: 25px;
}

.guest > img {
    margin-left: 10px;
    margin-top: 0px;
    height: 30px;
    width: 30px;
}

.usercode{
    color: #b3b2ba;
    font-size: 14px;
    margin-top: 30px;
    position: absolute;
    margin-left: 48px;
}

.creators > p {
    padding-left: 1rem;
    color: rgba(148,155,154,255);
    font-size: 13px;
    padding-top: 0.5rem;
}
.creators > ul > a > li{
    height: 45px;
    width: 210px;
}

.creators > ul > a > li > img{
    height: 33px;
    width: 33px;
    margin-left: 10px;
}

.creators > ul > a:nth-child(2) > li > img{
    object-fit: cover;
}

.modifiers{
    position: absolute;
    right: 0;
    display: flex;
    height: 2.5vh;
    width: 75px;
}

.minimise, .size, .close{
    width: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minimise:hover, .size:hover{
    cursor: pointer;
    background-color: rgba(45,46,51,255);
}

.close:hover{
    cursor: pointer;
    background-color: rgba(242,63,66,255);
}

.minimise > p{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

abbr img {
    height: 40px;
    width: 40px;
    opacity: 70%;
}



abbr{
    display: inline-block;
    position: relative;
    height: 20px;
    text-decoration: none;
    margin-right: 15px;
}

abbr:hover::before {
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 8px solid transparent;
    border-bottom-color: #111214;
}


abbr:hover::after {
    content: attr(data-title);
    display: flex;
    align-items: center;
    position: absolute;  
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    background-color: #111214;
    color: #cacbcf;
    height: 25px;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    border-radius: 4px;
    margin-bottom: -30px;
}

.searchbox{
    margin-right: 20px;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    height: 25px;
    width: 200px;
    background-color: rgba(30,31,34,255);
}

.searchbox > p {
    font-size: 12px;
    color: rgba(148,155,164,255);
}

li > img{
    height: 30px;
    width: 30px;
}

.e img{
    justify-self: center;
    margin-top: 1rem;
    grid-row: 1/1;
    background-color: #00AFF4;
}
.maintext{
    font-weight: 300;
    font-size: 13px;
    padding-right: 1rem;
    grid-column: 2/-1;
}

.maintext h4{
    font-size: 14px;
    margin: 0%;
    padding-top: 1rem;
}

.maintext a{
    color: #00AFF4;
} 

.maintext a:hover{
    text-decoration: underline 1px solid #00AFF4;
}

.maintext span{
    color: #7289da;
}

.textinput{
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    justify-self: center;
    align-self: center;
    margin-top: 30px;
    background-color: #383a40;
    bottom: 0;
    height: 45px;
    width: 97.5%;
    border-radius: 10px;
}

.textinput p{
    color: grey;
    padding-left: 1rem;
}

video{
    width: 70vh;
    border-radius: 10px;
}


@media only screen and (max-width: 1300px) {
    video{
      width: 50vh;
    }
  }



@media only screen and (max-width: 1100px) {
    .creators{
        display: none;
    }

    .e{
        grid-column: 3/-1;
    }
}

@media only screen and (max-width: 880px) {
    video{
      display: none;
    }

    .navmenu > div:nth-child(2) {
        display: none;
    }
}


@media only screen and (max-width: 1300px) {
    .maintext{
      grid-column: 2/4;
    }
}


@media only screen and (max-width: 700px) {
    .textinput{
        display: none;
    }
}


@media only screen and (max-width: 610px) {
    .everything{
        display: none;
    }
}

@media (min-width: 611px) {
    .mobileview{
        display: none !important;
    }
}

.mobileview{
    display: grid;
    height: 100vh;
    grid-template-columns: 69px auto 69px;
    grid-template-rows: 23px auto 100px;
}


.bump2{
    grid-column: 1/-1;
    height: 23px;
    background-color: #1e1f22;
}

.images2{
    grid-row: 2 / 3;
    background-color: #1e1f22;
}

.textchannels2{
    background-color: #2b2d31;
    border-radius: 7px 0px 0px 0px;
}

.maincontent{
    background-color: rgb(49, 51, 56);
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0f1316;
    grid-column: 1/-1;
}

footer img{
    width: 30px;
    height: 30px;
}

.textchannels2  li{
    width: 95%;
}

.textchannels2  ul{
    display: grid;
    align-items: center;
    margin-top: 0;
    width: auto;
}

.textchannels2 > div{
    display: flex;
    align-items: center;
    height: 50px;
    width: auto;
}

.textchannels2 > div > h4{
    display: flex;
    align-self: center;
}

.textchannels2 > div > h4 > sub{
    margin-left: 0;
}