@font-face {
    font-family: 'Custom';
    src: url(/fonts/BabyDoll.ttf);
}

body{
    overflow: hidden;
    font-family:'Custom';
    padding: 0;
    margin: 0;
    color: #7477ef;
    background-color: black;
}

.wrapper{
    height: 100vh;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 83px 1fr;
}

span{
    color: white;
}

header{
    
    justify-content: space-between;
    font-size: 10px;
    display: flex;
    align-items: center;
    grid-column: 1/-1; 
}

.logo{
    padding-left: 3rem ;
}


.nav{
    display: flex;
    align-items: center;
    justify-self: flex-end;
    justify-content: center;
    height: 100%;
    padding-right: 4rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.info{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column: 1/2;
    padding-left: 3rem;

}

.cinematic{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cinematic video{
    margin-left: 20px;
}

.cinematic h2{
    display: flex;
    align-content: start;
    justify-content: center;
    align-self: start;
    color: white;
    margin-top: 0;
}

video{
    width: 90%;
    object-fit: cover ;
    border-radius: 10px;
    box-shadow: 0 0px 10px #7477ef;
}

a{
    text-decoration: none;  
}

h3 a{
    text-decoration: none;
    color: #7477ef;
    padding-left: 3rem;
    font-size: 20px;
}

.logo h1{
    align-self: center;
    font-size: 50px;
}

.text h1{
    margin-top: 0;
    font-size: 45px;
}

.text, video{
    margin-top: -83px;
}

.button, .button2{
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "liberation mono", "courier new", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: #7477ef;
    width: 200px;
    height: 35px;
    border-radius: 0.3rem;
    box-shadow: 0 0px 16px #7477ef;
    transition: all .2s ease-out;
    padding: 0.55rem 1.5rem;
}

.button{
    color: white;
}

.button2{
    margin-left: 60px;
    background-color: white;
    color: #7477ef;
}

.buttons{
    margin-top: 13vh;
    display: flex;
}

.button:hover{
    scale: 1.1;
    cursor: pointer;
    background-color: white;
    color: #7477ef;
}

.button2:hover{
    scale: 1.1;
    cursor: pointer;
    background-color: #7477ef;
    color: white;
}

.nav h3 > a:hover{
    cursor: pointer;
    color: white;
}

@media only screen and (max-width: 1400px) {

    .text h1{
        font-size: 33px;
    }
}

@media only screen and (max-width: 1250px) {

    .button, .button2{
        width: 125px;
    }

    .buttons{
        padding-top: 3rem;
    }

    .cinematic{
      display: none;
    }

    .info{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-column: 1/-1;
        padding-left: 0;
    }

    .nav > h3{
        display: none;
    }

    .text{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .buttons{
        margin-left: 0;
        padding-left: 0;
        margin-top: 0px;
        
    }
}

@media only screen and (max-width: 450px) {

    .logo{
        padding-left: 1.5rem;
    }

    .text h1{
        display: none;
    }

    .text{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .button, .button2{
        width: 90px;
    }

    .button2{
        margin-left: 30px;
    }
}